.container{
    background-color: azure;
    height: 30vw;
    width: 100vw;
    display: inline-flex;
    justify-content: space-evenly;
    align-items: center;
}

.photoIn{
    width: 15vw;
    height: 15vw;
    border: 10px solid #e48c74;
    outline: 4px solid #e4ac4c;  
    box-shadow:
    0 0 0 10px #e4ac4c,
    0 0 0 20px #ecd276;
    border-radius: 35px;
    background-image: url('/assets/plateoffood.jpeg');
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    background-position: 50% 50%;
    font-size: 2.2vw;
    color: white;
    font-family: "Kode Mono", monospace;
}

.photoIn2{
    width: 15vw;
    height: 15vw;
    border: 10px solid #e48c74;
    outline: 4px solid #e4ac4c;  
    box-shadow:
    0 0 0 10px #e4ac4c,
    0 0 0 20px #ecd276;
    border-radius: 35px;
    background-image: url('/assets/drinks.webp');
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    background-position: 50% 50%;
    font-size: 2.2vw;
    color: #fff;
    font-family: "Kode Mono", monospace;
}

.photoIn3{
    width: 15vw;
    height: 15vw;
    border: 10px solid #e48c74;
    outline: 4px solid #e4ac4c;  
    box-shadow:
    0 0 0 10px #e4ac4c,
    0 0 0 20px #ecd276;
    border-radius: 35px;
    background-image: url('/assets/diningRoom.webp');
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    background-position: 50% 50%;
    font-size: 2.2vw;
    color: #fff;
    font-family: "Kode Mono", monospace;
}

.photoIn4{
    width: 15vw;
    height: 15vw;
    border: 10px solid #e48c74;
    outline: 4px solid #e4ac4c;  
    box-shadow:
    0 0 0 10px #e4ac4c,
    0 0 0 20px #ecd276;
    border-radius: 35px;
    background-image: url('/assets/seatingOne.webp');
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    background-position: 50% 30%;
    font-size: 2.2vw;
    color: #fff;
    font-family: "Kode Mono", monospace;
    text-decoration: none;
}


