.container{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    height: 47vw;
    font-family: "Playfair Display", serif;
    color:  rgb(63, 13, 13);
}
.A{
    font-size: 2vw;
    font-family: "Kode Mono", monospace;
}

.B{
    font-size: 3vw;
}

.C{
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-evenly;
}

.photoOne{
    background-image: url('/assets/plateOne.webp');
    width: 20vw;
    height: 25vw;
    border: solid 1vw #e2dace;
    background-size: cover;
    background-position: center;
}

.photoTwo{
    background-image: url('/assets/drink.webp');
    width: 20vw;
    height: 25vw;
    border: solid 1vw #e2dace;
    background-size: cover;
    background-position: center;
      
}

.photoThree{
    background-image: url('/assets/plateTwo.webp');
    width: 20vw;
    height: 25vw;
    border: solid 1vw #e2dace;
    background-size: cover;
    background-position: center;
      
}

.photoFour{
    background-image: url('/assets/seatingOne.webp');
    width: 20vw;
    height: 25vw;
    border: solid 1vw #e2dace;
    background-size: cover;
    background-position: center;
      
}

.photoOne:hover{
    filter:sepia(50%);
    transition: 200ms;
    cursor: pointer;
}
.photoTwo:hover{
    filter:sepia(50%);
    transition: 200ms;
    cursor: pointer;
}
.photoThree:hover{
    filter:sepia(50%);
    transition: 200ms;
    cursor: pointer;
}
.photoFour:hover{
    filter:sepia(50%);
    transition: 200ms;
    cursor: pointer;
}

.D{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.linkedin{
    background-image: url('/assets/linkedin.png');
    width: 3vw;
    height: 3vw;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.instagram{
    background-image: url('/assets/instagram.png');
    width: 2.5vw;
    height: 2.5vw;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.instagram:hover{
    cursor: pointer;
}
.linkedin:hover{
    cursor: pointer;
}